MockClient/MockTransitClient/Service References/FaultServices/FaultReportServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FaultReportServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FaultReportServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripton" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerReport" nillable="true" type="tns:CustomerReport" />
</xs:schema>