MockClient/MockTransitClient/Service References/FaultServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FaultReportServer" />
  <xs:element name="AutoFaultReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstrumentUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FaultCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FaultDetail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FaultTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoFaultReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutoFaultReportResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAttachedFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstrumentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FixEventID" type="xs:int" />
        <xs:element minOccurs="0" name="AttachedFile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAttachedFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ManualFaultReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FaultReportServer" minOccurs="0" name="Report" nillable="true" type="q1:CustomerReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManualFaultReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManualFaultReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TellNetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstrumentUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TellNetStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>